<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Statsquash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDAF4D421C1717B700003779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDAF4D5A1C1717B700003779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDAF4D651C1717B700003779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
